@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: #fafafa;
}

/* -------------------------------------------------------------------- navigation */

.navbar {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar-bg-color {
  background-color: rgb(0, 0, 0);
}

#logo {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-left: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-link {
  margin-right: 7px;
}

.dropdown-menu a {
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #fafafa;
}

.dropdown-menu a:hover {
  color: #d80d1e;
}

/* -------------------------------------------------------------------- footer */

.footer-main {
  font-family: "Exo", sans-serif;
  text-align: center;
  color: #fafafa;
  background-color: rgb(0, 0, 0);
}

.footer-section {
  margin-top: 15px;
  margin-bottom: 9px;
  display: inline-block;
}

.text-uppercase {
  text-transform: uppercase;
}

.map-address a {
  width: 100%;
  text-decoration: none;
  color: #fafafa;
}

.working-hours p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

.working-hours span {
  letter-spacing: 2px;
}

.hvr-icon-fade:active .hvr-icon,
.hvr-icon-fade:focus .hvr-icon,
.hvr-icon-fade:hover .hvr-icon {
  color: #d80d1e;
}

.footer-section-social li a {
  width: 32px;
  height: 32px;
  background-color: #8f8f8f;
  color: #fafafa;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.footer-section-social li a:hover {
  background-color: #d80d1e;
}

/* -------------------------------------------------------------------- call out */

.callout {
  height: 90vh;
  background: url("../images/index(HomePage)/callout-background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 40%;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  background-color: transparent;
  text-align: center;
  color: #fafafa;
}

.jumbotron span {
  color: #d80d1e;
  font-weight: 500;
}

.callout-call {
  margin-top: 35px;
}

.hr-line {
  width: 55px;
  border: 2px solid rgb(0, 0, 0);
}

.hr-line--white {
  border: 2px solid #fafafa;
}

.service-callout-section {
  font-family: "Exo", sans-serif;
  color: #fafafa;
  margin: 25px 0px;
}

.service-header {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 15px;
}

.service-items {
  text-align: center;
  margin-top: 15px;
}

.service-items a {
  text-decoration: none;
}

.service-items p {
  font-size: 18px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.service-items a p:hover {
  color: #d80d1e;
}

@media (max-width: 992px) {
  .service-items img {
    height: 125px;
  }
}

/* -------------------------------------------------------------------- services */

.main-section {
  margin-bottom: 35px;
  font-family: "Exo", sans-serif;
  font-size: 20px;
}

.main-section-header {
  margin: 50px 0px;
  text-align: center;
}

.services-header-section .value {
  width: 90%;
  margin-top: 15px;
}

@media (max-width: 992px) {
  .main-section {
    text-align: justify;
    font-family: "Exo", sans-serif;
  }

  .main-section-header {
    text-align: center;
    margin: 25px 0px;
  }

  .services-header-section .key {
    text-align: center;
  }

  .services-header-section .value {
    width: 100%;
    margin-top: 15px;
  }

  .service-inline-image {
    display: block;
    margin: 25px auto;
  }
}

/* -------------------------------------------------------------------- Team */

.personel-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: #96a1ad;
}

.team-info {
  list-style: none;
  padding: 0;
  text-align: left;
}
.team-name {
  margin: 35px 0px;
}

.progress {
  width: 30%;
  height: 25px;
  display: inline-flex;
  margin-top: 0;
  vertical-align: middle;
  background-color: #96a1ad;
}

.progress div {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.blockquote {
  text-align: justify;
}

@media (max-width: 992px) {
  .team-name {
    margin: 35px auto;
    text-align: center;
  }
  .progress {
  width: 50%;
  }
}

/* -------------------------------------------------------------------- Team */

#carouselExampleIndicators {
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: #f00;
}

.carousel-inner img {
  height: 70vh;
}

/* -------------------------------------------------------------------- Contact US */

.address-contact {
  text-align: center;
}

.opening-hours-contact a,
.opening-hours-contact h4 {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.message-section h4 {
  text-align: center;
}

.contact-section {
  display: inline-grid;
  justify-items: center;
}

.opening-hours-contact {
  display: inline-grid;
  align-items: center;
  margin: 15px 0;
}

.map-contact {
  background: url("../images/map.png");
  width: 300px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.map-contact a::before {
  font-family: "FontAwesome";
  content: attr(data-fa-icon);
  color: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 145px;
  left: 185px;
}

.map-contact a::after {
  content: "we are here!";
  font-size: 15px;
  color: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 130px;
  left: 150px;
}

.map-contact a:hover:before,
.map-contact a:hover:after {
  color: #d80d1e;
}
